<main id='root'>
    <script type="text/javascript">
      window.backgroundImage = "<%= image_url('background_login.png') %>"
      window.moneyGid = "<%= image_url('money_gif.gif') %>"

    </script>
  <script src="https://unpkg.com/currency.js@~1.2.0/dist/currency.min.js"></script>
    <% if logged_in? %>
      <script type="text/javascript">
        window.currentUser = <%= render(
        "api/users/user.json.jbuilder",
        user: current_user
      ).html_safe %>
      </script>
    <% end %>
</main>