.account a {
    text-decoration: none;
    color: black;
    font-weight: 900;
    left: 85%;
}

.account a:hover {
    color: #21ce99;
}

.stock-show .account a {
    top: 20px;
}

.account-header {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 20px;
}

.account-render-div .robenhood-h2 {
    width: 300px;
}

.chart-table-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-table-div .user-info {
    padding: 30px;
}

.chart-table-div .user-info #info-text{
    font-size: 30px;
}

.chart-table-div .port-chart-div {
    padding: 30px;
    padding-bottom: 50px;
}

table {
    width: 800px;
    height: 100%;
    border-spacing: 0;
}

td {
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid lightgrey;
}

tr:hover {
    background-color: lightgrey;
}

#table-header {
    font-weight: 900;
    color: grey;
}

#table-ticker {
    font-weight: 900;
}

.recharts-wrapper {
    position: relative;
}
