html, body, p, div, span, h1, h2, h3, h4, a, ol, ul, li, form, label, article, aside, figure, figcaption, footer, header, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Hind', sans-serif;
  vertical-align: baseline;
}

input {
  font-size: 15px;
}
