.hidden {
    position: relative;
    visibility: hidden;
    height: 0px;
}

#hidden-text {
    position: absolute;
    visibility: hidden;
    padding: 0px;
    margin-left: 0px;
    font-size: 15px;
    color: white;
    margin-bottom: 0px;
}

#show-text {
    margin-bottom: 10px;
    transition: all 1s;
    position: relative;
    font-size: 15px;
    color: grey;
    visibility: visible;
}

.form-div-trans {
    position: absolute;
    left: 1000px;
    top: 100px;
    display: flex;
    flex-direction: column;
    width: 250px;
    box-shadow: 0 0 20px lightgray;
    border-radius: 4px;
    padding: 20px;
}

.buy-sell-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
    border-bottom: 1px solid lightgrey;
}

.form-info-div {
    display: flex;
    flex-direction: column;
}

.indi-form-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.buy-sell-div button {
    border: none;
    font-weight: 900;
    font-size: 15px;
    border-bottom: 2px solid white;
}

.buy-sell-div button:hover {
    color: #21ce99;
    cursor: pointer;
}

.buy-sell-div button:focus {
    color: #21ce99;
    border-bottom: 2px solid #21ce99;
    outline: none;
}

.indi-form-info #input-shares {
    background-color: lightgrey;
    border: 1px solid white;;
    border-radius: 5px;
    width: 50px;
    height: 30px;
    text-align: right;
    padding-right: 5px;

}

.indi-form-info #input-shares:hover {
    transition: all .1s ease-in-out;
    border: 1px solid lightgrey;
    background-color: white;
    outline: none;
}

.indi-form-info #input-shares:focus {
    outline: none;
    border: 1px solid #21ce99;
}


.form-info-div .show {
    padding: 0 24px;
    background-color: #21ce99;
    border: 0;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    height: 48px;
    font-size: 15px;
    width: 100%;
}

.form-info-div button:hover {
    background-color: #0cb381;
    cursor: pointer;
}

.form-info-div button:focus {
    outline: none;
}

.form-info-div p {
    right: 0%;
}

.robenhood-header {
    padding: 20px;
    display: flex;
    flex-direction: space-between;
}

#shares-avail {
    padding: 5px;
}

.shares-div {
    display: flex;
    justify-content: center;
}

#market-price-div {
    border-bottom: 1px solid lightgray;
}

