.graph-div {
    display: flex;
    padding: 50px;
    flex-direction: column;
    position: absolute;
    top: 225px;
    left: 10%;
}

.graph-button-div {
    display: flex;
    flex-direction: row;
    margin-left: 62px;
    min-width: 400px;
    padding-bottom: 10px;
    border-bottom: lightgray 2px dotted;
    max-width: 638px;
}

.graph-button-div .graph-button {
    border: none;
    margin-right: 20px; 
    font-weight: 900;
}

.graph-button-div .graph-button:hover {
   color: #21ce99;
   cursor: pointer;
}

.graph-button-div .graph-button:focus {
    color: #21ce99;
    border-bottom: 2px solid #21ce99;
    outline: none;
}

.recharts-default-tooltip {
    position: absolute !important;
    display: flex !important;
    flex-direction: column-reverse !important;
}

.recharts-tooltip-item-list .portval-p {
    font-size: 35px !important;
    font-weight: 900;
}

#logout-button {
    left: 92%;
    padding: 0px;
    padding-bottom: 5px;
    margin: none;
    border: none;
    font-weight: 525;
    font-size: 15px;
    outline: none;
}

#logout-button:hover {
    color: #19ac80;
    cursor: pointer;
}







