.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    position: relative;
}

.robenhood-h2 {
    font-size: 20px;
    margin-left: 6px;
}

.robenhood-h2:hover {
    color:  #21ce99;
    cursor: pointer;
}

.robenhood-h2 i {
    margin-right: 10px;
}

.button-container {
    display: flex;
    align-items: center;
}

.button-container a {
    text-decoration: none;
    font-size: 20px;
    line-height: 27px;
    font-weight: 1000;
    color: black;
    padding: 0 24px;
}

.login-div a:hover {
    color:  #21ce99;
    cursor: pointer;
}

.signup-div button {
    padding: 0 24px;
    background-color: #21ce99;
    border: 0;
    color: white;
    border-radius: 36px;
    font-weight: 600;
    height: 48px;
    font-size: 17px;
    line-height: 17px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
    transform: box-shadow 500ms;
}

.signup-div button:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.login-text {
    display: flex;
    flex-direction: column;
    width: 800px;
}

.login-text h1 {
    font-size: 60px;
    font-weight: 900;
    margin-top: 100px;
    margin-left: 20px;
    margin-bottom: 30px;
    white-space: pre;
}

.login-text p {
    margin-left: 20px;
    line-height: 27px;
    font-size: 20px;
    white-space: pre;
}

.body-text-img {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes scale{
    0%{ 
        }
    50%{
        transform: scale(0.85);
        }
    100%{
        transform: scale(1);
        }
}

@keyframes fadeIn{
    0%{
        opacity: 0;
        }
    99%{
        opacity: 1;
        }
}

.body-text-img img {
    width: 900px;
    height: 700px;
    margin-left: -10%;
    -webkit-animation: fadein 5s;
    animation: fadeIn 3s 1;
    animation: scale 6s infinite 0s;
}

.nav-links {
    position: absolute;
    left: 80%;
    top: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 230px;
    justify-content: space-between;
}
