.loading-div {
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-div img {
    margin: 0 auto;
    height: 60%;
    width: 100%
}