.login-form-div {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin: auto;
    margin-top: 150px;
    padding: 30px;
}

.login-form-div h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

.form-div {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin-right: auto;
    padding: 30px;
}

.form-div label {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-div a {
    text-decoration: none;
    color:  #21ce99;
    margin-top: 10px;
    font-weight: 900;
}

.form-div .signin {
    padding: 0 24px;
    background-color: #21ce99;
    border: 0;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    height: 48px;
    font-size: 15px;
    width: 120px;
    margin-top: 50px;
    animation: distort 5s infinite;
}

@keyframes distort{
    0%{
        }
    25%{
        transform: skewX(15deg);
        }
    60%{
        transform: skewX(-15deg);
    }
    100%{
        transform: skewX(0deg);
    }
}

.form-div .signin:hover {
    background-color: #1febae;
    cursor: pointer;
    animation: none;
}

.form-div input {
    height: 45px;
    width: 400px;
    border-radius: 3px;
    border: 0;
    background-color: #e8f0fe;
    padding-left: 20px;
    font: 'Dosis', sans-serif;
}

.form-div input:hover {
    outline: none;
    box-shadow: 0px 0px 5px lightgray;
    border-radius:0;
}

.form-div input:focus {
    outline: none;
    box-shadow: 0px 0px 5px #21ce99;
    border-radius:0;
}

.login-image {
    height: 100%;
}

.background-image {
    widows: 100vw;;
    height: 100vh;
}

.background-image img {
    max-width:100%;
    min-width: 200px;
    height:100%;
    max-height:100%;
}

.login-page {
    display: flex;
}

.login-page .errors-ul {
    position: absolute;
    margin-top: -70px;
    animation: errorFade 5s 1;
}

@keyframes errorFade{
    0%{
        opacity: 0;
        }
    100%{
        opacity: 1;
        }
}

.errors-ul ul {
    list-style-type: none;
}

.form-div .errors-ul ul .error-li {
    position: absolute;
    font-weight: 900;
    top: 325px;
    width: 250px;
}

.errors-ul ul li i {
    margin-right: 5px;
}

.login-button-div {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.login-button-div .link-button {
    color: #21ce99;
    background-color: white;
    font-weight: 600;
    font-size: 11px;
    width: 47%;
    text-align: left;
    border: none;
    padding: 0px;
    margin: 5px;

}

.login-button-div .link-button:hover {
    color: #0fa779;
    cursor: pointer;
}

.login-button-div .link-p {
    color: #0fa779;
    font-size: 11px;
    font-weight: 900;
    margin: 5px;
}


