.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
    width: 600px;
}

.headers-div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-right: auto;
}

@keyframes topFade{
    0%{
        transform: translateY(-100px);
        opacity: 0;
        }
    100%{
        transform: translateY(0px);
        opacity: 1;
        }
}

.headers-div h1 {
    font-size: 50px;
    margin-bottom: 10px;
    animation: topFade 3s 1 0s ease-out;
}

.headers-div h2 {
    font-size: 20px;
    margin-bottom: 40px;
}

.signup .names-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.signup .names-div input {
    width: 280px;;
    height: 40px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    padding-left: 10px;
    margin-bottom: 30px;
    font-size: 15px;
}

.signup .info-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup .info-div input {
    width: 98%;
    height: 40px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    padding-left: 10px;
    margin-bottom: 30px;
}

.signup input:hover {
    outline: none;
    box-shadow: 0px 0px 5px lightgray;
    border-radius:0;
}

.signup input:focus {
    outline: none;
    box-shadow: 0px 0px 5px #21ce99;
    border-radius:0;
}

.login-form button {
    padding: 0 24px;
    background-color: #21ce99;
    border: 0;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    height: 48px;
    font-size: 15px;
    width: 100%;
    margin-bottom: 30px;
}

.login-form button:hover {
    background-color: #0cb381;
    cursor: pointer;
}

.login-form .login-link {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
    color: lightgray
}

.login-form a {
    color: #21ce99
}

.login-form .login-disclosure {
    display: flex;
    flex-direction: column;
}

.login-form .login-disclosure p {
    margin-bottom: 15px;
    color: lightgrey;
}

.login-form .login-disclosure a {
    text-decoration: none;
}

.total .robenhood-h2 {
    padding: 30px;
    width: 113px;
}

.first-name-div {
    display: flex;
    flex-direction: column-reverse;
}

.last-name-div {
    display: flex;
    flex-direction: column-reverse;
}

.email-div {
    display: flex;
    flex-direction: column-reverse;
}

.password-div {
    display: flex;
    flex-direction: column-reverse;
}

.login-form .error-li {
    margin-bottom: 8px;
    min-width: 200px;
    top: 200px;
    
}

.errors-ul {
    position: absolute;
    animation: errorFade 5s 1;
}

@keyframes errorFade{
    0%{
        opacity: 0;
        }
    100%{
        opacity: 1;
        }
}
